
.container {   
    margin: 50px;

    .carousel {
        width: 40%;

        img {
            height: 300px;
            width: 100%;
        }

    }

    .price {
        text-decoration: line-through;
    }

    .button-container {
        display: flex;
        gap: 20px;
    }

}
